<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background: yellowgreen;">
  <address>
    Kontakt os
    KIAtec ApS
    Lyskær 3 D, 2.
    2730 Herlev
  </address>

</ion-content>